<h1> All Photos </h1>
<p>
<a href = "/photos/new"> Add New Photo </a>
</p>

<% @list_of_all_my_photos.reverse_each do |the_photo| %>

<img src ="<%= the_photo.source %>">
<p>
  <%= the_photo.caption %>
</p>

<div>
<a class="btn btn-default btn-lg active" href = "/photos/<%= the_photo.id %>"> Show </a>
<a class="btn btn-default btn-lg active" href = "/photos/<%= the_photo.id %>/edit"> Edit </a>
<a class="btn btn-default btn-lg active" href = "/delete_photo/<%= the_photo.id %>"> Delete </a>
</div>

<% end %>
